* .home-container {
    position: relative;
    min-height: 100vh;
    padding: 50px 40px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.home-container .logo {
    position: inherit;
    margin-top: -50px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
}

.home-container .logo .main-img {
    position: absolute;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}



.home-container .logo .main-img.active {
    animation: spin 8s 1s infinite;
}

@keyframes spin {
    to{
        transform: rotate (360deg);
}
}
.home-container .logo .circle {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;

}

.home-container .logo .main-img.main-img.active .circle {
    opacity: 1;
}



@keyframes fade-in {
    to {
        transform: translate(0);
        opacity: 1;
    }
}


.home-container h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin-top: 50px;
}

.home-container h2 span {
    font-size: 25px;
    opacity: 0.8;
    padding-bottom: 5px;
    border-radius: 2px solid var (--color-pri);
    font-family: "open sans condensed", sans-serif;
}
.home-container h2 p {
    font-size: 20px;
    opacity: 1;
    font-weight: 100;
    margin-top: 1px;
    font-family: "open sans", sans-serif;
}


g
.scroll-down hr {
    background-color: blue;
    width: 20px;
}

.scroll-down h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
}


.scroll-down .scroll {
    transform: rotate(-90deg);
    font-size: 10px;
}