.contact-container {
    position: relative;
    display: flex;
    flex-direction: flex-start;
    min-height: 80vh;
    margin-top: 100px;
    padding: 30px


}



.contact-container h1 {
    margin: 0 auto;
    font-size: 22px;
    font-family: "Open Sans Condense";
    font-weight: 400;
    color: var(--color-pri);

}

.contact-container .contact-links {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
.contact-container .contact {
    position: inherent;
    height: 280px;
    width: 30%;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background .3s ease, transform .2s ease;;
}

.contact-container .contact:hover {
    
}