@import url("https://fonts.googleapis.com/css2?family=inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    z-index: 1;
}
body {


    background: rgb(2 2 26);
    min-height: 100vh;
    font-family: "inter", sans-serif;
    animation: move 1s linear infinite forwards;
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}
:root {
--color-pri: red;
--color-pri-light: rgba(82 188 250 0.445);
--color-sec: rgb(172 17 223);
--color-sec-light: rgba(172, 17, 22.3, 0.274);



--pc-width: 75%;
--tab-width: 90%;
--phone-width: 100%;
}

body::before {

    content: "";
    position: fixed;
    height: 12.5rem;
    width: 12.5rem;
    background: rgb(0, 255, 255);
    filter: blur(8.75rem);
}



body::after {

    content: "";
    position: fixed;
    top: 12.5rem;
    left: 250px;
    height: 200px;
    width: 200px;
    background: rgb(183, 0, 225);
    filter: blur(140px);
}

.bg-circle1 {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 200px;
    background: rgb(0, 255, 255);
    filter: blur(140px);
}